<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Living Mathematics</title>
    <link rel='stylesheet' href='/assets/style.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id='app-container' class='site-container'>
      {{{body}}}
    </div>
    <script>
      window.__INITIAL_STATE__ = {{{initialState}}}
    </script>
    <script src='/assets/js/bundle.js'></script>
  </body>
</html>
