@font-face {
  font-family: 'Helvetica';
  src: url('fonts/HelveticaNeueLTStd-LtCn.otf'); /* IE9 Compat Modes */
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #333;
}
p {
  font-size: 23px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 27px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
}
label {
  font-size: 23px;
}
img {
  max-width: 100%;
}
.logo {
  position: fixed;
  width: 700px;
  float: right;
  margin-left: 87px;
  top: 445px;
  -webkit-transition: top ease 0.9s;
  transition: top ease 0.9s;
}
.logo img {
  width: 76px;
  float: right;
}
.logo.isFetching {
  top: 500px;
}
.site-container {
  margin: 45px;
}
.site-wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  margin-bottom: 27px;
  height: 58px;
}
.nav__link {
  font-size: 27px;
  line-height: 57px;
  padding: 15px 0;
}
.nav__link--active {
  color: #3385d6;
}
.nav__loading {
  position: absolute;
  left: 50%;
  width: 50px;
  margin-top: -4px;
  margin-left: -25px;
}
.main-wrapper {
  margin-top: 2em;
}
input {
  height: 27px;
}
input, textarea {
  color: #3385d6;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 23px;
  width: 270px;
  max-width: 100%;
  padding-top: 4px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

/* FORM */
.form {
  position: relative;
}
.form__label{
  display: block;
  height: 27px;
  background-color: white;
  width: 100%;
}
.form__group {
  margin-bottom: 15px;
}
.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: 'Helvetica', Arial, sans-serif;
  width: 95px;
  font-size: 23px;
  height: 46px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #333;
  outline: none;
  background-color: white;
}
.form__submit:focus .send-icon {
  color: #3385d6;
}
.send-icon {
  vertical-align: middle;
  display: inline-block;
  margin-top: -5px;
}
.form__submit:disabled {
  border-color: #a9a9a9;
  color: #a9a9a9;
}
.form__submit:active {
  color: #3385d6;
}
.form__sending {
  margin-top: -5px;
  margin-left: 17px;
}
.form__font--reset {
  margin-bottom: -8px;
}
.form__error {
  color: red;
  margin-top: 14px;
  font-size: 23px;
}

/* POST LIST */
.article-listItem__title {
  margin-bottom: 0;
}
.article-listItem__snippet {
  margin-top: 0;
}
.article-listItem__filetype {
  font-size: 23px;
  color: #3385d6;
}

/* LOADING SPINNER */
.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
  font-size: 42px;
}
.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}
.loading_moon::after {
  content: "🌑\a 🌒\a 🌓\a 🌔\a 🌕\a 🌖\a 🌗\a 🌘";
  width: 1.3em;
  animation: spin8 2s steps(8, end) infinite;
}
@keyframes spin8  { to { transform: translateY(-12.0em); } }
